.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 10000000000000000000000000000000;

    .info_video_watch {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 79.5%;
        background-color: #ffffff;
    }

    .list_cmt {
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        width: 20.5%;
        background-color: #ffffff;
        .navbar_cmt {
            width: 100%;
            height: 60px;
            background-color: #ffffff;
            border-bottom: 1px solid #e0dcdc;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: center;
        }

        .wrapper_intro {
            height: auto;
            .info_user_group {
                width: 100%;
                height: 50px;
                background-color: #ffffff;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                padding: 10px;
                box-sizing: border-box;
            }
    
            .title_video_watch {
                width: 100%;
                height: auto;
                min-height: 80px;
                background-color: #ffffff;
                display: flex;
                justify-content: flex-start;
                text-align: start;
                padding: 10px;
                box-sizing: border-box;
                overflow: hidden;
                max-height: 80px;
            }
    
            .like_watch_share_comment {
                width: 90%;
                height: 40px;
                background-color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                padding: 10px;
                margin-left: 20px;
                box-sizing: border-box;
                border-bottom: 1px solid #d8d4d4;
            }

            .btn_like_watch {
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                border-bottom: 1px solid #d8d4d4;
            }
            .off_cmt {
                width: 90%;
                height: 50px;
                background-color: #ffffff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                margin-left: 20px;
                border-bottom: 1px solid #d8d4d4;

            }

        }
        .input_cmt {
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            background-color: #ffffff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
        }

        .show_cmt_more_video {
            height: 458px;
            max-height: 458px;
            min-height: 458px;
            background-color: #ffffff;
            overflow: auto;
        }
    }
}

.btn_like_video_watch {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
}


.icon_header {
    width: 30px;
    height: 30px;
    rotate: 90deg;
}

.item_menu_header {
    width: 350px;
    min-height: 450px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #d1cdcd;
    box-shadow: 1px 1px 5px 3px #d1cccc;

    .info_user_header {
        width: 100%;
        height: 120px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .container_infoUser_header {
            width: 90%;
            height: 85%;
            background-color: #ffffff;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 1px 1px 5px 3px #a7a2a2;
        }
    }

    .content_item {
        width: 100%;
        height: 55px;
        background-color: #fff;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        cursor: pointer;
        &:hover {
            background-color: #ece4e4;
        }
    }
}