.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000000000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .container {
        border: 1px solid #c9c3c3;
        width: 500px;
        height: auto;
        min-height: 250px;
        background-color: rgb(251, 255, 251);
        position: relative;
        border-radius: 10px;
        .title_create {
            position: relative;
            width: 100%;
            height: 40px;
            margin-top: -20px;
            background-color: #fff;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border-bottom: 1px solid #dedbdb;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .info_user {
            width: 100%;
            height: 70px;
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            position: relative;
        }
        .content_true {
            width: 500px;
            height: 100px;
            max-height: 100px;
            background-color: #fff;
            position: relative;
        }
    }
}