.wrapper {
    width: 100%;
    min-height: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #e4dfdf;
    border: 1px solid #e2dcdc;

    .info_user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        position: relative;
        width: 100%;
        height: 60px;
        
        .user_info {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            width: 200px;
            position: absolute;
            left: 40px;
            .avatar_user {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                position: relative;
                width: 80px;
                margin-left: -30px;
                .img_true {
                    margin-left: -20px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
            .name_user {
                min-width: 200px;
                width: auto;
                max-width: 500px;
                position: absolute;
                left: 40px;
            }
        }
    }
    .setting_blog {
        position: absolute;
        right: 10px;

    }
    .title_post {
        height: auto;
        width: 100%;
        min-height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .img_post {
        width: 100%;
        height: auto;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .show_cmt_like {
        width: 90%;
        margin-left: 36px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #ccc8c8;
        .like_tym {
            display: flex;
            justify-content: space-around;
        }
        .btn_tym {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background-color: rgb(235, 38, 166);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .btn_like {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 50%;
            background-color: rgb(6, 87, 239);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .btn_like_cmt_share {
        margin-top: 10px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn_true {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-around;
        }
        .btn_hover {
            background-color: #ffffff;
            &:hover { 
                opacity: .9;
                background-color: #f4eeee;
            }
        }
    }
    .edit_post {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        position: relative;
        margin-top: 10px;
        width: 100%;
        height: 30px;
        .icon_menu {
            width: 20px;
            height:20px;
            rotate: 90deg;
        }

        .edit_item {
            height: 100%;
            width: 50px;
            position: absolute;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}
.setting_blog,
.edit_POST {
    width: 200px;
}

// video



.wrapper_video {
    width: 700px;
    height: 400px;
    margin-top: 20px;
    position: relative;
    height: auto;
    margin-top: 20px;
    border: 1px solid #dbd7d7;
    border-radius: 10px;

    .header_video {
        width: 100%;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        .img_user_page_video {
            left: 20px;
            width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 20px;
        }

        .full_name_page_user_video {
            width: 300px;
            text-align: start;
            margin-left: 20px;
        }
    }
    .title_video_video {
        width:  100%;
        height: auto;
        min-height: 40px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
    }

    .video_true {
        width: 100%;
        height: 500px;
        background-color: gray;
    }

    .show_like_video {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .like_share_video {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 20px;
        }

        .number_cmt_view_like_video {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .wrapper_icon_video {
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #ffffff;
    
        &:hover {
            background-color: #f5efef;
        }
    }
}


.icon_video {
    width: 20px;
    height: 20px;
    rotate: 90deg;
    color: rgb(102, 99, 99);
}